nav {
    /* width: 100vw; */
    height: 3.4rem;
    box-shadow: 0 2px 2px rgb(233, 233, 233);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-white);
}

.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__left {
    display: flex;
    gap: 1.25rem;
}

.language {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.nav__icon {
    font-size: 1.4rem;
    cursor: pointer;
}

.search__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 0.5rem 1rem;
    box-shadow: 0 0 5px rgb(233, 233, 233);
    border-radius: 2rem;
}

.search__box input {
    font-family: inherit;
    font-size: 1.2rem;
    font-weight: 500;
    /* color: rgb(233, 233, 233); */
    color: transparent;
}

.search__box input::placeholder {
    color: black;
}

.nav__notification,
.message {
    position: relative;
}

.notification__count,
.message__count {
    position: absolute;
    background: red;
    width: 16px;
    height: 16px;
    /* padding: 2px; */
    top: -5px;
    right: -5px;
    border-radius: 50%;
    color: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: center;
}